@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
    font-family: "Fredoka", sans-serif;
    color: #464646;
}
a{
    color: inherit;
    text-decoration: none;
}
.burger-menu button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}
.home{
    width: 20px;
  
}
.menu-content.hidden {
    display: none;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
    background-color: #f4f4f4;
    position: absolute;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left: 0;
    top: 50px;
    z-index: 1000;
}

.menu-content ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    z-index: 1000;
}

header {
    text-align: center;
 

    background-color:#a73742;
    color: white;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999;
   left: 0;
   padding-bottom: 20px;
}

header input[type="search"] {
    width: 50%;
    padding: 10px;
   
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.cards1{
    direction: rtl;
}

.card {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.4em;
    margin:30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
.main{
    text-align: center;
}
.icons{
    width: 30px;
    margin: auto;
}
.icons1{
 width: 30px;
 height: fit-content;
}
.small-icon{
width: 30px;
margin: auto;
margin-top: 5px;
padding: 10px;
}
.user-title{
display: flex;
margin-right: auto;
}
.user-title > img{
    margin: 0%;
    padding: 10px;
    border-radius: 50%;
}
.logo{
    width: 10%;
    margin: auto;
    margin-top: 20px;
    display: block;
    
}
.div-icons{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    header input[type="search"] {
        width: 90%;
    }
    .cards {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .logo{
        width: 30%;
        margin: auto;
        margin-top: 20px;
        
    }
    
}

@media (max-width: 600px) {
    header input[type="search"] {
        width: 90%;
    }
    .cards {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .logo{
        width: 50%;
        margin: auto;
        margin-top: 20px;
        
    }
}
